@use '../base/typography';
@use '../abstracts/variables';

.recipe-card {
    background-color: var(--color-white);
    width: clamp(37.5rem, 100vw, 61.6rem);

    @media only screen and (min-width: variables.$bp-tablet) {
        width: clamp(61.6rem, 70vw, 73.6rem);
        border-radius: 2.4rem;
    }

    &__illustration {
        & > img {
            width: 100%;
        }

        @media only screen and (min-width: variables.$bp-tablet) {
            padding: 0rem 4rem;
            padding-top: 4rem;

            & > img {
                height: 30rem;
                border-radius: 1.2rem;
            }
        }
    }

    &__content {
        padding: 4rem 3.2rem;
        display: grid;
        row-gap: 3.2rem;

        @media only screen and (min-width: variables.$bp-tablet) {
            padding: 4rem 4rem;
        }
    }

    &__header {
        display: grid;
        row-gap: 2.4rem;
    }

    &__header-heading {
        @include typography.heading-lg();
        color: var(--color-stone-900);
    }

    &__section-prep-time {
        display: grid;
        row-gap: 1.6rem;
        padding: 2.4rem;
        background-color: var(--color-rose-50);
    }

    &__section-prep-time-heading {
        @include typography.text-body-title();
        color: var(--color-rose-800);
    }

    &__section {
        display: grid;
        row-gap: 2.4rem;
    }

    &__section-heading {
        @include typography.heading-md();
        color: var(--color-brown-800);
    }
}
