@use '../base/typography';

.recipe-card {
    background-color: var(--color-white);
    width: 37.5rem;

    &__image {
        width: 100%;
    }

    &__content {
        padding: 4rem 3.2rem;
        display: grid;
        row-gap: 3.2rem;
    }

    &__header {
        display: grid;
        row-gap: 2.4rem;
    }

    &__header-heading {
        @include typography.heading-lg();
        color: var(--color-stone-900);
    }

    &__section-prep-time {
        display: grid;
        row-gap: 1.6rem;
        padding: 2.4rem;
        background-color: var(--color-rose-50);
    }

    &__section-prep-time-heading {
        @include typography.text-body-title();
        color: var(--color-rose-800);
    }

    &__section {
        display: grid;
        row-gap: 2.4rem;
    }

    &__section-heading {
        @include typography.heading-md();
        color: var(--color-brown-800);
    }
}
